/* CSS HEX / */
:root {
  --hunter-green: #34654cff;
  --mint: #63a683ff;
  --almond: #e7d7c1ff;
  --beaver: #a78a7fff;
  --liver: #735751ff;
  background-color: var(--beaver);
}
/* / CSS HSL / */
/* --hunter-green: hsla(149, 32%, 30%, 1);
--mint: hsla(149, 27%, 52%, 1);
--almond: hsla(35, 44%, 83%, 1);
--beaver: hsla(16, 19%, 58%, 1);
--liver: hsla(11, 17%, 38%, 1); */

/* / SCSS HEX / */
/* $hunter-green: #34654cff;
$mint: #63a683ff;
$almond: #e7d7c1ff;
$beaver: #a78a7fff;
$liver: #735751ff; */

/* / SCSS HSL / */
/* $hunter-green: hsla(149, 32%, 30%, 1);
$mint: hsla(149, 27%, 52%, 1);
$almond: hsla(35, 44%, 83%, 1);
$beaver: hsla(16, 19%, 58%, 1);
$liver: hsla(11, 17%, 38%, 1); */

/* / SCSS RGB / */
/* $hunter-green: rgba(52, 101, 76, 1);
$mint: rgba(99, 166, 131, 1);
$almond: rgba(231, 215, 193, 1);
$beaver: rgba(167, 138, 127, 1);
$liver: rgba(115, 87, 81, 1); */

/* / SCSS Gradient  */
/* $gradient-top: linear-gradient(0deg, #34654cff, #63a683ff, #e7d7c1ff, #a78a7fff, #735751ff);
$gradient-right: linear-gradient(90deg, #34654cff, #63a683ff, #e7d7c1ff, #a78a7fff, #735751ff);
$gradient-bottom: linear-gradient(180deg, #34654cff, #63a683ff, #e7d7c1ff, #a78a7fff, #735751ff);
$gradient-left: linear-gradient(270deg, #34654cff, #63a683ff, #e7d7c1ff, #a78a7fff, #735751ff);
$gradient-top-right: linear-gradient(45deg, #34654cff, #63a683ff, #e7d7c1ff, #a78a7fff, #735751ff);
$gradient-bottom-right: linear-gradient(135deg, #34654cff, #63a683ff, #e7d7c1ff, #a78a7fff, #735751ff);
$gradient-top-left: linear-gradient(225deg, #34654cff, #63a683ff, #e7d7c1ff, #a78a7fff, #735751ff);
$gradient-bottom-left: linear-gradient(315deg, #34654cff, #63a683ff, #e7d7c1ff, #a78a7fff, #735751ff);
$gradient-radial: radial-gradient(#34654cff, #63a683ff, #e7d7c1ff, #a78a7fff, #735751ff); */
html {
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap");
#root {
  font-family: "Playfair Display", normal;
}

.header {
  background-color: var(--liver);
  font-weight: 600;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  display: flex;
  top: 0;
  justify-content: space-between;
  position: sticky;
  z-index: 1;
}

.header span{
  color: var(--almond);
}

.header img{
  padding: 3px;
}

.imagename {
  display: flex;
  margin-right: 30px;
}
.aboutContact {
  display: flex;
  align-items: center;
  justify-content: right;
}
#image {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

#name {
  display: flex;
  align-items: center;
  position: relative;
  left: 20px;
}

.aboutContact {
  cursor: pointer;
}

.header-link {
  font-weight: 600;
  font-family: "Playfair Display", serif;
  font-size: 27px;
  width: 109px;
  height: 80px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutContact > .aboutUsBtn {
  background-color: var(--almond);
}
.aboutContact > .aboutUsBtn:link,
.aboutUsBtn:visited {
  font-weight: 600;
  font-family: "Playfair Display", serif;
  font-size: 27px;
  color: black;
  text-decoration: none;
  text-align: center;
}

.aboutContact > .aboutUsBtn:hover {
  background-color: rgba(231, 215, 193, 0.79);
}

.aboutContact > .contactUsBtn {
  background-color: var(--mint);
}
.aboutContact > .contactUsBtn:link,
.contactUsBtn:visited {
  font-weight: 600;
  font-family: "Playfair Display", serif;
  font-size: 27px;
  color: black;
  text-decoration: none;
  text-align: center;
}

.aboutContact > .contactUsBtn:hover {
  background-color: rgba(99, 166, 131, 0.79);
}
.aboutContact > .helpUsBtn {
  background-color: var(--hunter-green);
}
.aboutContact > .helpUsBtn:link,
.helpUsBtn:visited {
  font-weight: 600;
  font-family: "Playfair Display", serif;
  font-size: 27px;
  color: black;
  text-decoration: none;
  text-align: center;
}

.aboutContact > .helpUsBtn:hover {
  background-color: rgba(52, 101, 76, 0.79);
}

.welcome {
  background-image: url("./img/welcome_01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcomeText {
  width: 35vw;
  color: var(--almond);
  margin-left: 1.2em;
  margin-bottom: 1.5em;
  line-height: 1.5;
}

.helpUsButton {
  background-color: var(--mint);
  font-family: Playfair Display;
  font-size: x-large;
  padding: 5px 10px;
  border-radius: 15px;
  margin-left: 15px;
  margin-top: 7px;
  transition: 0.2s;
}

.helpUsButton:link,
.helpUsButton:visited {
  font-weight: 600;
  font-family: "Playfair Display", serif;
  font-size: x-large;
  color: black;
  text-decoration: none;
  text-align: center;
}

.helpUsButton:hover {
  background-color: rgba(99, 166, 131, 0.79);
}

@media screen and (max-width: 800px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #image {
    transform: translateX(-10px);
  }

  .buttons {
    flex-direction: column;
  }
}

.helpUs {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./img/peakpx_m.jpg");
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.helpUsText {
  font-weight: 600;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  color: var(--almond);
  margin-left: 30px;
  margin-top: 15px;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
}
.donate {
  position: relative;
  font-weight: 600;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  color: var(--almond);
  margin-left: 30px;
  margin-top: 15px;
  background-color: var(--hunter-green);
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px var(--hunter-green) solid;
  transition: 0.3s;
}

.donateSpan {
  opacity: 0.3;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.donate:hover {
  background-color: rgba(0, 0, 0, 0.415);
  border: 3px var(--hunter-green) solid;
  color: var(--hunter-green);
}

.bestMovie {
  background-color: rgba(0, 0, 0, 0.264);
  position: relative;
  font-weight: 600;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  color: var(--hunter-green);
  margin-left: 30px;
  margin-top: 15px;
  width: 250px;
  height: 100px;
  border: 3px var(--hunter-green) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.bestMovie:hover {
  background-color: var(--hunter-green);
  border: 3px var(--hunter-green) solid;
  color: var(--almond);
}

.whatchSpan {
  opacity: 0.3;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.donateSpan {
  opacity: 0.3;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.whatchSpan {
  opacity: 0.3;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.whatchSpan {
  opacity: 0.3;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.aboutUs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: var(--almond);
  padding-top: 100px;
}

#aboutUsText {
  width: 90%;
}
p {
  text-align: justify;
  text-justify: inter-word;
}

.socialsLogo {
  width: 50px;
  margin: 5px;
}
.socialsLogo:hover {
  border-radius: 50%;
  background-color: var(--mint);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  border-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vw;
}

.carousel {
  display: flex;
  height: 400px;
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.carouselWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.carouselCard {
  display: flex;
  flex: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.15);
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition: 0.5s ease-in-out;
}

.carouselCard_active {
  opacity: 1;
  transform: scale(1);
  pointer-events: visible;
}

.cardImage {
  width: 100%;
  object-fit: cover;
}

.cardTitle {
  color: white;
  font-size: 30px;
}
.carouselArrowLeft,
.carouselArrowRight {
  font-family: "Times New Roman", Times, serif;
  color: var(--almond);
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  background-color: var(--mint);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
}

.carouselArrowLeft:hover,
.carouselArrowRight:hover {
  animation: none;
  background: var(--hunter-green);
  color: var(--almond);
  border: 2px solid var(--almond);
}

.carouselArrowLeft {
  left: 15px;
}

.carouselArrowRight {
  right: 15px;
}

.carouselPagination {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0);
}

.paginationDot {
  height: 10px;
  width: 10px;
  background-color: var(--almond);
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}

.paginationDot:hover {
  transform: scale(1.2);
  background-color: var(--hunter-green);
}

.paginationDot_active {
  background-color: var(--mint);
}

.contactDiv {
  padding: 60px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

input {
  padding: 3px;
  background-color: rgba(0, 0, 0, 0);
  border-width: 0 0 1.5px;
  border-color: black;
  font-family: "Playfair Display", normal;
}
input:focus {
  border-color: none;
  outline: none;
}

textarea {
  vertical-align: top;
  width: 300px;
  background-color: rgba(255, 255, 255, 0);
  border-width: 1.5 0 1.5px;
  border-color: black;
  font-family: "Playfair Display", normal;
}
textarea:focus {
  border-color: none;
  outline: none;
}

label {
  width: 180px;
  display: inline-block;
}

#horseImg {
  width: 500px;
  border-radius: 2%;
}

#email {
  width: 300px;
}

#sendButton {
  margin-left: 435px;
  margin-top: 5px;
  padding: 5px;
  font-size: medium;
  background-color: var(--mint);
  border-radius: 10%;
  border: none;
  font-family: "Playfair Display", normal;
  font-weight: 550;
}

#sendButton, #okButton{
margin-left: 435px;
margin-top: 5px;
padding: 5px;
font-size: medium;
background-color: var(--mint);
border-radius: 10%;
border: none;
font-family: "Playfair Display", normal;
font-weight: 550;
}

#sendButton:hover, #okButton:hover{
  background-color: rgb(81, 141, 110);
  cursor: pointer;
}

input {
  width: fit-content;
}

#thxMessage {
  width: 500px;
}

.footer {
  bottom: 10px;
  text-align: center;
  background-color: var(--almond);
  padding: 3px;
}

.badge {
  width: 110px;
  margin: 5px;
}

.footer p {
  text-align: center;
}

.top-to-btm {
  position: relative;
}
.icon-position {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.icon-style {
  background-color: var(--mint);
  border: 2px solid --almond;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: var(--almond);
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}
.icon-style:hover {
  animation: none;
  background: var(--hunter-green);
  color: var(--almond);
  border: 2px solid var(--almond);
}
@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

